.sem-underline{
    text-decoration: none;
}
.mapa iframe{
    width: 100%;
} 
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}
body, html {
  color: blue;
  height: 100%;
  line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}
.equipe_container{
    padding:128px 16px;
    margin-bottom: 20px;
}
.equipe_titulo{
    text-align: center;
}
.equipe_subtitulo{
    text-align: center;
}
.equipe_galeria{
    margin-bottom: 20px;
}

#textareamensagem{
  resize: none;
  width: 100%;
  height: 200px;
}

#modernizar{
  color: #0000FF;
}

#botaoconheca{
  background-color: #0000FF;

}